<!DOCTYPE html>
<html  lang="vi">

<head>
  <link rel="preconnect" href="https://res.cloudinary.com">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  <link rel="preconnect" href="https://www.googleadservices.com">
  <link rel="preconnect" href="https://www.gstatic.com">
  <link rel="preconnect" href="https://connect.facebook.net">
  <link rel="preconnect" href="https://www.google-analytics.com">
  <meta name="p:domain_verify" content="442f069b8455d6ba2c5b37e95431709b"/>
  <title><%=article.title%></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />
  <meta name="description" content="<%-article.subtitle%>">
  <meta property="og:locale" content="vi_VN">
  <link rel="alternate" href="https://www.niemvuilaptrinh.com/article/<%-article.slug%>" hreflang="vi" />
  <link rel="alternate" href="https://www.niemvuilaptrinh.com/article/<%-article.slug%>" hreflang="x-default" />
  <link rel="icon" type="image/svg+xml" href="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1605961780/favicon_c4pttx.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://www.niemvuilaptrinh.com/article/<%-article.slug%>">
  <!-- <meta property="og:image" content="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1576511394/Niemvuilaptrinh_jgc0rn.png"> -->
  <meta property="og:url"                content="https://www.niemvuilaptrinh.com/article/<%-article.slug%>" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="<%-article.title%>" />
  <meta property="og:description"        content="<%-article.subtitle%>" />
  <meta property="og:image"              content="<%-article.file_image_facebook%>" />
  <meta property="fb:app_id" content="2121975281235443" />
  <meta name="keywords" content="<%-article.title%>">
  <meta name="author" content="Thái Viết Nhật">
  <meta name="copyright" content="Niềm Vui Lập Trình" />
  <meta name="robots" content="index,follow" />
  <meta name="theme-color" content="#288cff">
  <!--Twitter-->
  <meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@ThiVitNht1" />
<meta name="twitter:creator" content="Thái Viết Nhật " />
<meta name="twitter:description" content="<%-article.subtitle%>" />
<meta name="twitter:title" content="<%-article.title%>" />
  <!--Twitter-->

<meta property="og:url" content="https://www.niemvuilaptrinh.com/article/<%-article.slug%>" />
<meta property="og:title" content="<%-article.title%>" />
<meta property="og:description" content="<%-article.subtitle%>" />
<meta property="og:image" content="<%-article.file_image_facebook%>" />
<meta name="google-site-verification" content="SXEFa5YhgCrmAOJhBwsuDms_fUALYxrM8ZUql8KHgNM" />
<style>
  @media (min-width:1025px){.content-image{background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(https://res.cloudinary.com/dn4nxz7f0/image/upload/f_auto,q_70,w_1024/library-438389_1920_lcj3ro.webp)}}@media (min-width:481px) and (max-width:1024px){.content-image{background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(https://res.cloudinary.com/dn4nxz7f0/image/upload/f_auto,q_70,w_512/library-438389_1920_lcj3ro.webp)}}@media (max-width:480px){.content-image{display:none !important; }}
</style>
<style>
  /*! * Hover.css (http://ianlunn.github.io/Hover/) * Version: 2.3.2 * Author: Ian Lunn @IanLunn * Author URL: http://ianlunn.co.uk/ * Github: https://github.com/IanLunn/Hover* Hover.css Copyright Ian Lunn 2017. Generated with Sass. */.hvr-underline-from-left { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px transparent; position: relative; overflow: hidden }.hvr-underline-from-left:before { content: ""; position: absolute; z-index: -1; left: 0; right: 100%; bottom: 0; background: #fff; height: 2px; -webkit-transition-property: right; transition-property: right; -webkit-transition-duration: .3s; transition-duration: .3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out }.hvr-underline-from-left:active:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:hover:before { right: 0 }.hvr-underline-from-center { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px transparent; position: relative; overflow: hidden }.hvr-underline-from-center:before { content: ""; position: absolute; z-index: -1; left: 51%; right: 51%; bottom: 0; background: #5edfff; height: 2px; -webkit-transition-property: left, right; transition-property: left, right; -webkit-transition-duration: .3s; transition-duration: .3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out }.hvr-underline-from-center:active:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:hover:before { left: 0; right: 0 }.hvr-underline-from-right { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px transparent; position: relative; overflow: hidden }.hvr-underline-from-right:before { content: ""; position: absolute; z-index: -1; left: 100%; right: 0; bottom: 0; background: #2098d1; height: 4px; -webkit-transition-property: left; transition-property: left; -webkit-transition-duration: .3s; transition-duration: .3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out }.hvr-underline-from-right:active:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:hover:before { left: 0 }
</style>
<style>/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}</style>


<link rel="stylesheet" href="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/darcula.css" media="print" onload="this.media='all'">
<style>
  body{margin:0;padding:0;box-sizing:border-box;font-family:Roboto,sans-serif;padding-top:50px}.card-title a{text-decoration:none!important;color:#1b2a49!important}.image-slider{position:relative;font-family:Montserrat,sans-serif;padding:0!important;margin:0!important}.content-header{font-size:2rem!important}.content-image{height:400px!important;display:table;width:100%;height:600px;background-size:cover!important;background-position:center;overflow:hidden}.content-image::after{width:100%;height:600px;background-color:#2d132c;z-index:3}.content{z-index:2;color:#fff!important;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}.blockquote-footer{font-size:1rem!important}.card-header{padding:0!important}.card{margin:2rem!important;box-sizing:border-box!important}.button-article{margin:0!important}.card-body{padding-top:0!important}.card-title{font-family:Montserrat,sans-serif;font-weight:600;font-size:1.8rem}.btn-reading{background-color:#000;color:#fff}.btn-reading:hover{background-color:#e65100!important;color:#fff!important}.footer{background-color:#1b2a49;padding:4rem;font-family:Montserrat,sans-serif;color:#c9d1d3}.icon-footer{width:50px;height:50px;border:1px solid #c9d1d3;font-size:1.5rem!important;margin-right:2rem;text-align:center;line-height:50px!important;border-radius:50%}.icon-footer:hover{background-color:#c9d1d3;color:#1b2a49;cursor:pointer}.form-title{color:#1b2a49}.form-login{border:2px solid #ccc}.header-text{font-family:Montserrat,sans-serif;font-weight:700}.header-content{font-family:Montserrat,sans-serif;font-size:1.5rem;font-weight:400;border-top:2px solid #bada55;border-bottom:2px solid #bada55;padding:.5rem}.card{margin:1rem!important}.card-header-search{font-size:1.5rem;background-color:#fff!important;font-weight:600}.form-seacrh .form-control-underlined{border-width:0;border-bottom-width:1px;border-radius:0;padding-left:0}.form-seacrh .form-control::placeholder{border-width:0;border-bottom-width:1px;border-radius:0;padding-left:0}.form-seacrh .form-control:focus{box-shadow:none}.card-search{border:none!important}.card-body-search{padding:0!important}.card-header-category{background-color:#fff!important;font-size:1.5rem;font-weight:600}.response{font-size:1rem;font-weight:400!important;margin:0!important;padding:0!important;margin-bottom:.5rem!important}.send-email-header{background:linear-gradient(to right,#f2709c,#ff9472)!important;width:100%;height:100%;background-size:cover}.send-email-header-text{line-height:2rem!important;text-align:center;font-size:1.2rem}.send-email-content{padding:3rem!important}.send-email-content label{color:#6ba8a9;font-size:1rem}.input-style{border-radius:50px!important;padding:12px 15px 12px 15px!important;width:100%;box-sizing:border-box;border:none!important;border:1px solid #f3e5f5!important;font-size:16px!important;font-weight:400}.text-area-style{border-radius:25px!important}.fb-page{width:500!important}.icon-social{text-decoration:none!important;color:#c9d1d3!important}button{position:relative;display:inline-block;cursor:pointer;outline:0;border:0;vertical-align:middle;text-decoration:none;background:0 0;padding:0;font-size:inherit;font-family:inherit}button:hover .circle{width:100%}button:hover .circle .icon.arrow{background:#fff;transform:translate(1rem,0)}button:hover .button-text{color:#fff;cursor:pointer!important}.button-text:hover{cursor:pointer!important}.page-link{padding:1rem;background-color:#3e64ff!important;box-shadow:0 1px 5px rgba(0,0,0,.15)!important;color:#fff!important}.social-meadia-icon{margin:0;padding:0;display:flex}.social-meadia-icon-item{list-style:none}.social-meadia-icon-item a{position:relative;width:60px;height:60px;display:block;text-align:center;margin:0 10px;border-radius:50%;padding:6px;box-sizing:border-box;text-decoration:none;box-shadow:0 10px 15px rgba(0,0,0,.3);background:linear-gradient(0deg,#ddd,#fff);transition:.5s}.social-meadia-icon-item a:hover{box-shadow:0 2px 5px rgba(0,0,0,.3)!important}.social-meadia-icon-item a i{width:100%;height:100%;display:block;background:linear-gradient(0deg,#fff,#ddd);border-radius:50%;line-height:calc(60px - 12px);font-size:24px;color:#262626;transition:.5s}.social-meadia-icon-item:nth-child(1) a:hover i{color:#3b5998}.social-meadia-icon-item:nth-child(2) a:hover i{color:#00aced}.social-meadia-icon-item:nth-child(3) a:hover i{color:#dd4b39}.social-meadia-icon-item:nth-child(4) a:hover i{color:#007bb6}.social-meadia-icon-item:nth-child(5) a:hover i{color:#e4405f}a:hover{cursor:pointer!important}.content-detail-text{line-height:2rem!important}.circle{counter-reset:list-counter!important;list-style:none;float:left}.fa-arrow-right{padding:.8rem!important}.text-content-article{line-height:1.8rem!important}@media (max-width:991.98px){.progress-label{display:none}}.dropdown-menu{padding:0!important}.card-row-article{width:32%}@media screen and (min-width:1200px){.card-row-article{width:30%}.card-title-article{font-size:1.4rem!important}}@media screen and (min-width:768px) and (max-width:1200px){.card-row-article{width:45%;font-size:95%}.card-title{font-size:1.6rem!important}.content-header{font-size:1rem!important}.card-title-article{font-size:1.2rem!important}}@media screen and (max-width:768px){.card-row-article{width:100%;font-size:90%}.card-title{font-size:1.4rem!important}.content-header{font-size:.8rem!important}.card-title-article{font-size:1.2rem!important}.card-blogpost-image img{border-radius:none}}.about-content{padding:4rem 0;font-family:Roboto,sans-serif;background:#70e1f5;background:-webkit-linear-gradient(to right,#ffd194,#70e1f5);background:linear-gradient(to right,#ffd194,#70e1f5);background-size:cover}.noi_dung_1{margin-top:2.5rem!important;width:100%;padding:30px;background:#fff;box-sizing:border-box;border-radius:10px;box-shadow:0 15px 50px rgba(0,0,0 .2)}.hinh_anh_about{width:500px;height:500px;background:url(/images/IMG_1347_loixz1.jpg);transform:rotate(-30deg);border-radius:50%;float:left;shape-outside:circle();margin:20px 20px 20px 0}pre{border-radius:25px;font-family:'Open Sans',sans-serif!important;-webkit-box-shadow:2px 2px 2px 2px #ccc;-moz-box-shadow:2px 2px 2px 2px #ccc;box-shadow:2px 2px 2px 2px #ccc;overflow:auto}@media screen and (max-width:768px){pre{border-radius:0}}.bg-bootstrap-color{background-color:#563d7c!important;color:#fff}.bg-bootstrap-color:hover{color:#fff}.title-article-size2{color:#fff}.bg-light{background-color:#fff!important}.video-wrapper{position:relative;padding-bottom:56.25%;height:0;overflow:hidden}.video-wrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%}nav{box-sizing:border-box}img{width:100%;height:auto}.title-article-size{font-size:1.2rem}::-webkit-scrollbar{width:6px}::-webkit-scrollbar-track{background:#f1f1f1}::-webkit-scrollbar-thumb{background:#1b2a49}::-webkit-scrollbar-thumb:hover{background:#1b2a49}.article-title{display:none}.text-content-article{margin-top:.5rem!important}.card-blogpost-container{border-radius:20px!important}.card-blogpost{border-radius:20px;background-color:#1b2a49;color:#fff}.card-blogpost-image{padding:0}.card-blogpost-image img{border-bottom-left-radius:20px;border-top-left-radius:20px;height:100%;object-fit:cover}.button-card-category{position:absolute;top:15px;left:15px;background:#fff;color:#fff;border-radius:5px 15px 5px;background:#bada55}.text-date{position:absolute;bottom:15px;left:0;color:#fff;background-color:#1b2a49;padding:5px}.button-card-category:hover{color:#fff}.card-title-article{color:#bada55;font-family:Montserrat,Times,serif;font-weight:400}.button-blog-post{letter-spacing:2px;font-weight:500;color:#000;background-color:#fff;border:none;border-radius:45px;box-shadow:0 8px 15px rgba(0,0,0,.1);transition:all .3s ease 0s;cursor:pointer;outline:0;padding:16px;font-size:16px}.button-blog-post:hover{text-decoration:none;color:#fff}.button-blog-post:hover{background-color:#bada55}.card-blogpost{margin-bottom:20px}.card-blogpost-image-article{padding:0;overflow:hidden}.card-blogpost-image-article{border-radius:20px;height:100%;object-fit:cover}@media screen and (max-width:768px){.card-blogpost-image img{border-radius:0}.card-blogpost{border-radius:0}}.button-card-category-article{padding:15px;background:#fff;color:#fff;border-radius:5px 15px 5px;background:#bada55}.article-title-blog-post{font-weight:700;font-family:Montserrat,Times,serif;font-size:1.6rem}.article-text-date-category{font-size:14px;font-weight:700}.bg-primary{background-color:#1b2a49!important}.navbar{background-color:#1b2a49!important}.pagination .page-item .page-link{background-color:#1b2a49!important;color:#fff}.page-item.active .page-link{border-color:#bada55}.button-article-2{background-color:#1b2a49}.button-article-2:hover{background-color:#1b2a49}.image-article-blogpost{box-shadow:0 1px 1px rgba(16,27,30,.15),0 2px 2px rgba(16,27,30,.15),0 4px 4px rgba(16,27,30,.15),0 8px 8px rgba(16,27,30,.15),0 16px 16px rgba(16,27,30,.15);border-radius:20px}button:focus{outline:0}.img-container{position:relative;padding-bottom:56.25%;height:0;overflow:hidden}.img-container img{position:absolute;top:0;left:0;width:100%;height:100%}.img-container-article{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;border-radius:20px}.button-blog-post-article{letter-spacing:2px;font-weight:500;color:#fff;background-color:#1b2a49;border:none;border-radius:32px;box-shadow:0 8px 15px rgba(0,0,0,.1);transition:all .3s ease 0s;cursor:pointer;outline:0;padding:16px 32px;font-size:16px}.button-blog-post-article a{color:#fff}.button-blog-post-article:hover a{text-decoration:none;color:#fff}.button-blog-post-article:hover{text-decoration:none;color:#fff}.button-blog-post-article:hover{background-color:#bada55}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" media="print" onload="this.media='all'" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<style>.bg-secondary{background-color:#6c757d!important}.icon-th-menu:before{color:#fff}p{font-size:1rem}</style>
<link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />
<link rel="preload"
as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@400;500&display=swap">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@400;500&display=swap"
      media="print" onload="this.media='all'" />
      <script data-ad-client="ca-pub-8657971062505795" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top p-2"> <a class="navbar-brand" title="Niềm Vui Lập Trình" href="/">Niềm Vui Lập Trình</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button><div class="collapse navbar-collapse" id="navbarSupportedContent"><ul class="navbar-nav ml-auto"><li class="nav-item active"> <a class="nav-link mr-5 hvr-underline-from-left" title="Trang Chủ" href="/">Trang Chủ <span class="sr-only">(current)</span></a></li><li class="nav-item active"><a class="nav-link mr-5 hvr-underline-from-left" title="Nguồn Lập Trình" href="/article/Resource/">Nguồn Lập Trình</a></li><li class="nav-item dropdown active"> <a class="nav-link dropdown-toggle mr-5 hvr-underline-from-left" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="Xem Khóa Học">Ngôn Ngữ</a><div class="dropdown-menu mt-2"> <a class="dropdown-item" title="Hướng Dẫn Về HTML" href="/article/html/">HTML</a> <a class="dropdown-item" title="Hướng Dẫn Về CSS" href="/article/css/">CSS</a> <a class="dropdown-item" title="Hướng Dẫn Về Javascript" href="/article/Javascript/">Javascript</a></div></li><li class="nav-item active"><a class="nav-link hvr-underline-from-left mr-5" title="Giới Thiệu Bản Thân" href="/about">Giới Thiệu</a></li></ul></div> </nav>
<!--Navbar-->
  <!--Content-->
  <div class="jumbotron jumbotron-fluid image-slider"><div class="container-fluid"><div class="row"><div class="content-image"><div class="content"><blockquote class="blockquote"><div class="mb-2 title-article-size2">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</div> <footer class="blockquote-footer text-right text-white">Albert Einstein</footer></blockquote></div></div></div></div></div>
  <!--Content-->
     <!--Main Content-->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="img-container-article"> 
          <div class="img-fluid image-article-blogpost">
            <img  srcset="https://res.cloudinary.com/dn4nxz7f0/image/upload/f_auto,q_auto,w_512/<%-article.file%>" type="image/webp" alt="<%-article.title%>" title="<%-article.title%>" />
          </div>
          </div>
      </div>
      <div class="col-lg-6">
        <h1 class="article-title-blog-post text-left pl-4 pr-4 pt-4"> <%=article.title%></h1>
        <p class=" pl-4 pr-4 pt-lg-4"> <button type="button"
            class="<%-article.category%> button-card-category-article mt-2 mb-2 pl-2 pr-2"><%=article.category%></button><br />
            <i class="far fa-clock"></i> <%=article.date%></p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col md-12">
        <div class="card-text text-justify"><%-article.content%></div>
      </div>
    </div>
  </div>
 <!--Main Content-->


  <!--Footer Comment  Content-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-5"></div>
        <div class="fb-comments" data-href="https://www.niemvuilaptrinh.com/article/<%-article.slug%>" data-width="100%"
          data-numposts="5"></div>
      </div>
    </div>
  </div>
 <!--Google Adsense-->
 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-8657971062505795"
     data-ad-slot="6988053365"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
  </div>
</div>
 <!--Google Adsense-->
  <div class="container">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
  
      <div class="card card-search">
        <div class="card-header card-header-category"> Từ Khóa</div>
        <div class="card-body card-body-search mt-4">
          <h3 class="button-article"><a title="Thông Tin Về CSS"
              class="btn shadow-sm rounded btn-secondary m-1 pl-2 pr-2 hvr-shrink button-article-2"
              href="/article/css/"><i class="fas fa-tag"></i> CSS</a> <a href="/article/html/"
              title="Thông Tin Về HTML"
              class="btn shadow-sm rounded btn-secondary m-1 pl-2 pr-2 hvr-shrink button-article-2"><i class="fas fa-tag"></i> HTML</a> <a href="/article/Javascript/" title="Thông Tin Về Javascript"
              class="btn shadow-sm rounded btn-secondary m-1 pl-2 pr-2 hvr-shrink button-article-2"><i class="fas fa-tag"></i> Javascript</a> <a href="/article/Resource/" title="Nguồn Lập Trình"
              class="btn shadow-sm rounded m-1 pl-2 pr-2 hvr-shrink btn-secondary button-article-2"> <i class="fas fa-tag"></i> Nguồn Lập Trình</a></h3>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--Footer Comment  Content-->
  <!--Footer-->


  <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script>
    var container = document.getElementById('content-box');
    $(window).on('load resize', (function() {
      windowsize = $(window).width();
      if((windowsize <= 992)  && (screen.height>=768)) {
        $('.nav-item').addClass('hvr-underline-from-left')
      } else{
        $('.nav-item').removeClass('hvr-underline-from-left')
      }
    }));
  </script>
  <script  src='https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/highlight.pack.js'></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163462128-1"></script>
  <script >
    hljs.initHighlightingOnLoad();
 </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-163462128-1');
  </script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '2121975281235443',
          xfbml      : true,
          version    : 'v5.0'
        });
        FB.AppEvents.logPageView();
      };
    
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
       
       <div class="container-fluid footer">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="content-footer">
              <h5>Góc trả lời</h5>
              <p>Nếu các bạn có gì thắc mắc thì liên hệ mình qua những mạng xã hội sau đây nhé!</p>
              <ul class="social-meadia-icon">
                <li class="social-meadia-icon-item"><a title="Trang Facebook"
                    href="https://www.facebook.com/Ni%E1%BB%81m-Vui-L%E1%BA%ADp-Tr%C3%ACnh-103123311194043/">  <i class="fab fa-facebook-f"></i></a></li>
                <li class="social-meadia-icon-item"><a title="Trang Twitter" href="https://twitter.com/ThiVitNht3"><i class="fab fa-twitter"></i></a></li>
                <li class="social-meadia-icon-item"><a title="Địa Chỉ Gmail" href="mailto:niemvuilaptrinh2410@gmail.com"><i class="fab fa-google-plus-g"></i></a></li>
              </ul>
              <hr />
              <p> © 2020 Copyright: Niềm Vui Lập Trình (Thái Viết Nhật).</p>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(function () {
          $(window).on('scroll', function () {
            if ($(window).scrollTop() > 10) {
              $('.navbar').addClass('active shadow');
            } else {
              $('.navbar').removeClass('active shadow')
            }
          })
        })
      </script>
      
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous"></script>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js" integrity="sha512-TmDwFLhg3UA4ZG0Eb4MIyT1O1Mb+Oww5kFG0uHqXsdbyZz9DcvYQhKpGgNkamAI6h2lGGZq2X8ftOJvF/XjTUg==" crossorigin="anonymous"></script>
      <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
      </body>
      
      </html>