<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="content-image">
      <div class="content">
        <blockquote class="blockquote">
          <h1 class="mb-0">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
          <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
        </blockquote>
      </div>
    </div>
    </div>
  </div>
  </div>
<div class="header-text text-center mt-5 ">
  <span class="header-content">Bài Viết Mới Nhất</span>
</div>

<div style="width: 30%;">
  <% posts.forEach(function(post){ %>
  <div class="card border-0 shadow">
    <h5 class="card-header"> <img src="/images/<%-post.file%>" class="card-img-top" alt="..."></h5>
    <h3 class="button-article"><button type="button"
        class="<%-post.category%> btn shadow-sm rounded btn-success m-3 pl-5 pr-5"><%=post.category%></button></h3>
    <div class="card-body">
      <h5 class="card-title"><%=post.title%></h5>
      <hr />
      <p class="card-text text-justify"><%-post.subtitle%></p>
      <p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> <%=post.date%></p>
      <div class="d-flex justify-content-end">
        <a href="/article/<%-post.id%>" class="btn shadow-sm rounded btn-reading">Continue Reading</a>
      </div>
    </div>
  </div>
  <div class="mb-5"></div>
  <% }) %>
</div>
<div class="container mt-5">

  <div class="row">
 
    <div class="col-lg-4 col-md-12 col-xs-12">
      <!-- <div class="card card-search">
        <div class="card-header card-header-search">
          Tìm Kiếm
        </div>
        <div class="card-body card-body-search">
          <form class="mt-4 form-seacrh">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm">
                <div class="input-group">
                  <input type="search" placeholder="Bạn hãy nhập từ khóa!" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                  <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
              </form>
              </div>
        </div> -->
        <div class="mt-5"></div>
        <div class="card card-search">
            <div class="card-header card-header-category">
              Từ Khóa
            </div>
            <div class="card-body card-body-search mt-4">
                <h3 class="button-article"><a href="/article/css"><button type="button"
                  class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
                  <a href="/article/html"><button type="button"
                  class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
                  <a href="/article/nodejs">
                  <button type="button"
                  class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
                </h3>
                  </div>
            </div>

            <div class="card card-search">
                <div class="card-header card-header-search">
                  Đăng kí Email
                 
                </div>
                <div class="card-body card-body-search">
                  <div class="text-email-subscribe">
                    <p class="text-justify mt-4">Các bạn nhấp subscribe để nhận bài viết mới nhất từ mình nhé!</p>
                    </div>
                    <!-- Begin Mailchimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                    <form action="https://gmail.us20.list-manage.com/subscribe/post?u=02f033de83f488a359d24bc9f&amp;id=85d0d8697c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                  
                    <div class="mc-field-group">                
                      <label for="mce-EMAIL" class="label-email mb-2">Email:
                    </label>
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Hãy nhập địa chỉ email của bạn">

                    </div>
                      <div id="mce-responses" class="clear">
                        <div class="response text-justify" id="mce-error-response" style="display:none"></div>
                        <div class="response text-justify" id="mce-success-response" style="display:none"></div>
                      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_02f033de83f488a359d24bc9f_85d0d8697c" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Đăng Kí Email" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                                                         
                      </div>
                </div>
      </div>
    </div>
  </div>

  <script>

  </script>
  <%- include('footer') -%>