
<%- include('header') -%>
  <!--Content-->

  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <% posts.forEach(function(post){ %>
      <div class="card " style="width: 30rem;">
        <h5 class="card-header"> <img src="/images/<%-post.file%>" class="card-img-top" alt="..."></h5>
        <h3 class="button-article"><button type="button" class="btn shadow-sm rounded btn-success m-3 pl-5 pr-5">Node
            JS</button></h3>
        <div class="card-body">
          <h5 class="card-title"><%=post.title%></h5>
          <hr />
          <p class="card-text text-justify"><%-post.content%></p>
          <p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> <%=post.date%></p>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn shadow-sm rounded btn-reading">Continue Reading</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  <%- include('footer') -%>
  