<!DOCTYPE html>
<html lang="vi">

<head>
  <title>Niềm Vui Lập Trình - Hướng Dẫn Về <%-category-%></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586594935/logo-via-logohub_2_a9ubsa.png">
  <link rel="alternate" href="http://www.niemvuilaptrinh.com/" hreflang="vi-vn" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/normalizes.css' />
  <link rel="preload" as="style" href="/stylesheets/normalizes.css">
  <link rel='stylesheet' href='/stylesheets/darcula.css' />
  <link rel='stylesheet' href='/stylesheets/hover-min.css' />
  <meta name="keywords" content="HTML,CSS,JavaScript, Bootstrap 4, Front End Web">
  <meta name="author" content="Thái Viết Nhật">
  <meta name="copyright" content="Niềm Vui Lập Trình" />
  

  <meta property="og:image"
    content="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1576511394/Niemvuilaptrinh_jgc0rn.png">
    <meta property="og:description"
    content="Nơi bạn có thể tìm thấy các nguồn lập trình cho việc phát triển web như là HTML, CSS, Javascript, Bootstrap.">
  <meta property="og:title" content="Niềm Vui Lập Trình">

  <meta id="metaDescription" name="description"
    content="Nơi bạn có thể tìm thấy các nguồn lập trình cho việc phát triển web như là HTML, CSS, Javascript, Bootstrap.">
  <meta property="og:type" content="website" /> 
  <meta name="theme-color" content="#288cff">
  
  
  <meta property="og:url" content="https://www.niemvuilaptrinh.com/" />
  <!--Font Logo-->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="google-site-verification" content="SXEFa5YhgCrmAOJhBwsuDms_fUALYxrM8ZUql8KHgNM" />
  <link rel='stylesheet' href='/stylesheets/style1.css' />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163462128-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163462128-1');
</script>
<script async src="https://cse.google.com/cse.js?cx=758420e54139c0b82"></script>
</head>

<body>


  <!--Navbar-->
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary  fixed-top p-2">
        <a class="navbar-brand" title="Niềm Vui Lập Trình" href="/">Niềm Vui Lập Trình</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="fa fa-navicon"></i></span>
        </button>
    
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link mr-5 hvr-underline-from-left" title="Trang Chủ" href="/">Trang Chủ <span
                  class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
              <a class="nav-link mr-5 hvr-underline-from-left" title="Nguồn Lập Trình" href="/article/Resource">Nguồn Lập Trình</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle  mr-5 hvr-underline-from-left" data-toggle="dropdown" href="#"
                role="button" aria-haspopup="true" aria-expanded="false" title="Xem Khóa Học">Ngôn Ngữ</a>
              <div class="dropdown-menu mt-2">
                <a class="dropdown-item" title="Hướng Dẫn Về HTML" href="/article/html">HTML</a>
                <a class="dropdown-item" title="Hướng Dẫn Về CSS" href="/article/css">CSS</a>
                <a class="dropdown-item" title="Hướng Dẫn Về Javascript" href="/article/Javascript">Javascript</a>
               </div> 
              </li>
            
            <li class="nav-item active">
              <a class="nav-link hvr-underline-from-left mr-5" title="Giới Thiệu Bản Thân" href="/about">Giới Thiệu</a>
            </li>
    
            </ul>
    
        </div>
      </nav>
    </div>
  </div>
  <!--Content-->
  <div class="jumbotron jumbotron-fluid image-slider">
    <div class="container-fluid">
    <div class="row">
    
        <div class="content-image">
          <div class="content">
            <blockquote class="blockquote">
              <h4 class="mb-2 title-article-size2">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h4>
              <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
            </blockquote>
          </div>
        </div>
      
    </div>
    </div>
  </div>
  <div class="header-text text-center mt-5 ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
         
        </div>
        <div class="col-md-4">
          <div class="gcse-search"></div>
        </div>
      </div>
    </div>
    <h1><span class="header-content">Bài Viết Mới Nhất</span> </h1>
  </div>
  <div class="container">
    <div class="row">
      
        <% posts.forEach(function(post){ %>
          <div class="col-md-12 mb-4 ">
        <div class="row mt-4 card-blogpost shadow">
          <div class="col-md-6 card-blogpost-image">
            <div class="img-container">
              <img
              sizes="(min-width: 30em) 28em, 100vw"
              srcset="https://res.cloudinary.com/dn4nxz7f0/image/upload/f_auto,q_70,w_256/<%-post.file%> 256w,
                      https://res.cloudinary.com/dn4nxz7f0/image/upload/f_auto,q_70,w_512/<%-post.file%> 512w,
                      https://res.cloudinary.com/dn4nxz7f0/image/upload/f_auto,q_70,w_768/<%-post.file%> 768w,
                      https://res.cloudinary.com/dn4nxz7f0/image/upload/f_auto,q_70,w_1024/<%-post.file%> 1024w,
                      https://res.cloudinary.com/dn4nxz7f0/image/upload/f_auto,q_70,w_1280/<%-post.file%> 1280w"
              src="https://res.cloudinary.com/dn4nxz7f0/image/upload/f_auto,q_70,w_512/<%-post.file%>"
              alt="<%-post.title%>" />
            </div>
          
            <button type="button"
              class="<%-post.category%> button-card-category btn  mt-2 mb-2 pl-2 pr-2"><%=post.category%></button>
              <p class="text-date"><i class="fa fa-clock-o" aria-hidden="true"></i> <%=post.date%></p>
          </div>
          <div class="col-md-6 shadow p-4 card-blogpost-container">
              <h2 class="card-title-article"><%=post.title%></h2>
              <hr />
              <p class="card-text text-justify "><%-post.subtitle%></p>
              
           
     
            
              <p class="mt-4 pt-4">
                <a  title="<%-post.title%>" class="button-blog-post" href="/article/<%-post.slug%>">
                  Tiếp tục đọc
                 </a>
              </p>

            
          </div>
        </div>
      </div>
        <% }) %>
  
    </div>
  </div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
    <% if (pages > 0) { %>
        <ul class="pagination text-center text-white">
            <% if (current == 1) { %>
                <li class="disabled page-item"><a class="page-link">Đầu</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/article/<%-category%>/1">Đầu</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 2 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled page-item"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class=" page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/article/<%-category-%>/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 2 && i < pages) { %>
                    <li class="disabled page-item"><a class="page-link">...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="disabled page-item"><a class="page-link">Cuối</a></li>
            <% } else { %>
                <li class="page-item" ><a href="/article/<%-category-%>/<%= pages %>" class="page-link">Cuối</a></li>
            <% } %>
        </ul>
    <% } %>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 context-box-scroll-right col-md-12 col-xs-12">
          <div class="mt-5"></div>
          <div class="card card-search">
            <div class="card-header card-header-category">
              Từ Khóa
            </div>
            <div class="card-body card-body-search mt-4">
              <h3 class="button-article"><a title="Thông Tin Về CSS" class="btn shadow-sm rounded btn-secondary m-1 pl-2 pr-2 hvr-shrink button-article-2" href="/article/css"><i class="fa fa-tag" aria-hidden="true"></i> CSS</a>
                <a href="/article/html" title="Thông Tin Về HTML"  class="btn shadow-sm rounded btn-secondary m-1 pl-2 pr-2 hvr-shrink button-article-2"><i class="fa fa-tag" aria-hidden="true"></i> HTML</a>
                <a href="/article/Javascript" title="Thông Tin Về Javascript"  class="btn shadow-sm rounded btn-secondary m-1 pl-2 pr-2 hvr-shrink button-article-2">
               <i class="fa fa-tag" aria-hidden="true"></i> Javascript</a>
                <a href="article/Resource" title="Nguồn Lập Trình"  class="btn shadow-sm rounded m-1 pl-2 pr-2 hvr-shrink  btn-secondary button-article-2">
                <i class="fa fa-tag" aria-hidden="true"></i> Nguồn Lập Trình</a>
                </h3>
            </div>
          </div>
          <div class="card card-search">

            <div class="fb-page"
            data-href="https://www.facebook.com/Ni&#x1ec1;m-Vui-L&#x1ead;p-Tr&#xec;nh-103123311194043/" data-tabs=""
             data-small-header="false" data-adapt-container-width="true"
            data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/Ni&#x1ec1;m-Vui-L&#x1ead;p-Tr&#xec;nh-103123311194043/"
              class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/Ni&#x1ec1;m-Vui-L&#x1ead;p-Tr&#xec;nh-103123311194043/">Niềm Vui Lập
                Trình</a></blockquote>
          </div>
          </div>

        </div>
      </div>
    </div>

    <script async defer crossorigin="anonymous"
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=2121975281235443&autoLogAppEvents=1">
    </script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.page-link').addClass('hvr-underline-from-left');
      })
    </script>


    <!--Footer-->
    <div class="container-fluid footer">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="content-footer">
            <h5>Góc trả lời</h5>
            <p>Nếu các bạn có gì thắc mắc thì liên hệ mình qua những mạng xã hội sau đây nhé!</p>
            <ul class="social-meadia-icon">
              <li class="social-meadia-icon-item"><a title="Trang Facebook" href="https://www.facebook.com/Ni%E1%BB%81m-Vui-L%E1%BA%ADp-Tr%C3%ACnh-103123311194043/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="social-meadia-icon-item"><a title="Trang Twitter" href="https://twitter.com/ThiVitNht1"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="social-meadia-icon-item"><a title="Địa Chỉ Gmail" href="mailto:niemvuilaptrinh2410@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></a></li>     
            </ul>
            <hr />
            <p> © 2020 Copyrigh: Niềm Vui Lập Trình (Thái Viết Nhật).</p>
          </div>
        </div>
        <!-- <div class="col-lg-2 col-md-2 col-xs-4">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Niềm Vui Lập Trình</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Thái Viết Nhật</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.</col-sm-12>
          <br/>
          <a href="//www.dmca.com/Protection/Status.aspx?ID=6545c799-e02b-45a3-9404-3f68e3f1d967" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120am.png?ID=6545c799-e02b-45a3-9404-3f68e3f1d967"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        </div> -->
      </div>
    
    </div>

    <!--End mc_embed_signup-->
    <!--Footer-->

    <script>
      $(function () {
        $(window).on('scroll', function () {
          if ($(window).scrollTop() > 10) {
            $('.navbar').addClass('active shadow');
          } else {
            $('.navbar').removeClass('active shadow')
          }
        })
      })
    </script>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" async>
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" async>
    </script>



        <script src="/javascripts/lazysizes.min.js" async></script>
        <!-- Images End -->
      
</body>

</html>