<!DOCTYPE html>
<html lang="vi">

<head>
  <title>Niềm Vui Lập Trình - Hướng Dẫn Về <%-category-%></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586594935/logo-via-logohub_2_a9ubsa.png">
  <link rel="alternate" href="http://www.niemvuilaptrinh.com/" hreflang="vi-vn" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/normalizes.css' />
  <link rel="preload" as="style" href="/stylesheets/normalizes.css">
  <link rel='stylesheet' href='/stylesheets/darcula.css' />
  <link rel='stylesheet' href='/stylesheets/hover-min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="keywords" content="HTML,CSS,JavaScript, Bootstrap 4, Front End Web">
  <meta name="author" content="Thái Viết Nhật">
  <meta name="copyright" content="Niềm Vui Lập Trình" />

  <meta property="og:image"
    content="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1576511394/Niemvuilaptrinh_jgc0rn.png">
    <meta property="og:description"
    content="Nơi bạn có thể tìm thấy các nguồn lập trình cho việc phát triển web như là HTML, CSS, Javascript, Bootstrap.">
  <meta property="og:title" content="Niềm Vui Lập Trình">

  <meta id="metaDescription" name="description"
    content="Nơi bạn có thể tìm thấy các nguồn lập trình cho việc phát triển web như là HTML, CSS, Javascript, Bootstrap.">
  <meta property="og:type" content="website" /> 
  
  
  
  <meta property="og:url" content="https://www.niemvuilaptrinh.com/" />
  <!--Font Logo-->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,700,800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <meta name="google-site-verification" content="SXEFa5YhgCrmAOJhBwsuDms_fUALYxrM8ZUql8KHgNM" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163462128-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163462128-1');
</script>

</head>

<body>


  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-2">
    <a class="navbar-brand" title="Niềm Vui Lập Trình" href="/">Niềm Vui Lập Trình</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa fa-navicon"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link mr-5 hvr-underline-from-left" title="Trang Chủ" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link mr-5 hvr-underline-from-left" title="Nguồn Lập Trình" href="/article/Resource">Nguồn Lập Trình</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle  mr-5 hvr-underline-from-left" data-toggle="dropdown" href="#"
            role="button" aria-haspopup="true" aria-expanded="false" title="Xem Khóa Học">Ngôn Ngữ</a>
          <div class="dropdown-menu mt-2">
            <a class="dropdown-item" title="Hướng Dẫn Về HTML" href="/article/html">HTML</a>
            <a class="dropdown-item" title="Hướng Dẫn Về CSS" href="/article/css">CSS</a>
            <a class="dropdown-item" title="Hướng Dẫn Về Javascript" href="/article/Javascript">Javascript</a>
            <a class="dropdown-item" title="Hướng Dẫn Về Bootstrap 4" href="/article/Bootstrap">Hướng Dẫn Bootstrap4</a>
            <a class="dropdown-item" title="Hướng Dẫn Về Javascript" href="/article/Hoc-Javascript">Hướng Dẫn Học Javascript</a>
          </li>
        <li class="nav-item">
          <a class="nav-link hvr-underline-from-left mr-5" title="Giới Thiệu Bản Thân" href="/about">Giới Thiệu</a>
        </li>



    </div>
  </nav>
  <!--Content-->
  <div class="jumbotron jumbotron-fluid image-slider">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="content-image">
          <div class="content">
            <blockquote class="blockquote">
              <h4 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h4>
              <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-text text-center mt-5 ">
    <h1><span class="header-content">Bài Viết Mới Nhất</span></h1>
  </div>
  <div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <% posts.forEach(function(post){ %>
      <div class="card border-0 shadow card-row-article">

        <h5 class="card-header"> <img data-src="<%-post.file%>" class="card-img-top header-img lazyload" alt="<%-post.title%>">
        </h5>
        <h3 class="button-article"><button type="button"
            class="<%-post.category%> btn shadow-sm rounded btn-success m-3 pl-5 pr-5"><%=post.category%></button></h3>
        <div class="card-body">
          <h5 class="card-title"><a class="hvr-underline-from-center pt-1 pb-1"
            title="<%-post.title%>" href="/article/<%-post.slug%>"><%=post.title%></a></h5>
          <hr />
          <p class="card-text text-justify"><%-post.subtitle%></p>
          <p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> <%=post.date%></p>
          <div class="d-flex justify-content-end">
            <button class="learn-more">
              <span class="circle">
                <span class="icon arrow"></span>
              </span>
              <a class="button-text" title="<%-post.title%>" href="/article/<%-post.slug%>">
                <span">Tiếp tục đọc</span>
              </a>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-5"></div>
      <% }) %>
    </div>
  </div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
    <% if (pages > 0) { %>
        <ul class="pagination text-center text-white">
            <% if (current == 1) { %>
                <li class="disabled page-item"><a class="page-link">Đầu</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/article/<%-category%>/1">Đầu</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 2 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled page-item"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class=" page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/article/<%-category-%>/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 2 && i < pages) { %>
                    <li class="disabled page-item"><a class="page-link">...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="disabled page-item"><a class="page-link">Cuối</a></li>
            <% } else { %>
                <li class="page-item" ><a href="/article/<%-category-%>/<%= pages %>" class="page-link">Cuối</a></li>
            <% } %>
        </ul>
    <% } %>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 context-box-scroll-right col-md-12 col-xs-12">
          <div class="mt-5"></div>
          <div class="card card-search">
            <div class="card-header card-header-category">
              Từ Khóa
            </div>
            <div class="card-body card-body-search mt-4">
              <h3 class="button-article"><a title="Thông Tin Về CSS" href="/article/css"><button type="button"
                class="CSS btn shadow-sm rounded btn-success m-1 pl-2 pr-2 hvr-shrink"><i class="fa fa-tag" aria-hidden="true"></i> CSS</button></a>
                <a href="/article/html" title="Thông Tin Về HTML"><button type="button"
                class="HTML btn shadow-sm rounded btn-success m-1 pl-2 pr-2 hvr-shrink"><i class="fa fa-tag" aria-hidden="true"></i> HTML</button></a>
                <a href="/article/Javascript" title="Thông Tin Về Javascript">
                <button type="button"
                class="btn shadow-sm rounded btn-success m-1 pl-2 pr-2 hvr-shrink"><i class="fa fa-tag" aria-hidden="true"></i> Javascript</button></a>
                <a href="/article/Bootstrap" title="Thông Tin Về Bootstrap">
                  <button type="button"
                  class="btn shadow-sm rounded m-1 pl-2 pr-2 hvr-shrink bg-bootstrap-color"><i class="fa fa-tag" aria-hidden="true"></i> Bootstrap</button></a>
              </h3>
            </div>
          </div>
          <div class="card card-search">

            <div class="fb-page"
              data-href="https://www.facebook.com/Ni&#x1ec1;m-Vui-L&#x1ead;p-Tr&#xec;nh-103123311194043/" data-tabs=""
              data-width="500" data-height="340" data-small-header="false" data-adapt-container-width="true"
              data-hide-cover="false" data-show-facepile="false">
              <blockquote cite="https://www.facebook.com/Ni&#x1ec1;m-Vui-L&#x1ead;p-Tr&#xec;nh-103123311194043/"
                class="fb-xfbml-parse-ignore"><a
                  href="https://www.facebook.com/Ni&#x1ec1;m-Vui-L&#x1ead;p-Tr&#xec;nh-103123311194043/">Niềm Vui Lập
                  Trình</a></blockquote>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script async defer crossorigin="anonymous"
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=2121975281235443&autoLogAppEvents=1">
    </script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.page-link').addClass('hvr-underline-from-left');
      })
    </script>


    <!--Footer-->
    <div class="container-fluid footer">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="content-footer">
            <h5>Góc trả lời</h5>
            <p>Nếu các bạn có gì thắc mắc thì liên hệ mình qua những mạng xã hội sau đây nhé!</p>
            <ul class="social-meadia-icon">
              <li class="social-meadia-icon-item"><a title="Trang Facebook" href="https://www.facebook.com/Ni%E1%BB%81m-Vui-L%E1%BA%ADp-Tr%C3%ACnh-103123311194043/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="social-meadia-icon-item"><a title="Trang Twitter" href="https://twitter.com/ThaiVietNhat4?s=07"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="social-meadia-icon-item"><a title="Địa Chỉ Gmail" href="mailto:niemvuilaptrinh2410@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></a></li>     
            </ul>
            <hr />
            <p> © 2020 Copyrigh: Niềm Vui Lập Trình (Thái Viết Nhật).</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Niềm Vui Lập Trình</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Thái Viết Nhật</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.</col-sm-12>
          <br/>
          <a href="//www.dmca.com/Protection/Status.aspx?ID=6545c799-e02b-45a3-9404-3f68e3f1d967" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120am.png?ID=6545c799-e02b-45a3-9404-3f68e3f1d967"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        </div>
      </div>
    
    </div>

    <!--End mc_embed_signup-->
    <!--Footer-->

    <script>
      $(function () {
        $(window).on('scroll', function () {
          if ($(window).scrollTop() > 10) {
            $('.navbar').addClass('active shadow');
          } else {
            $('.navbar').removeClass('active shadow')
          }
        })
      })
    </script>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" async>
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" async>
    </script>



        <script src="/javascripts/lazysizes.min.js" async></script>
        <!-- Images End -->
        <script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
</body>

</html>